{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-sm-2">
            <h1 class="text-center mb-5">LIST</h1>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form class="d-flex mb-3">
                <input type="search" class="form-control me-2" name="search" placeholder="Search" value={{ search_term }}>
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </form>
            <ul class="list-group">
                {% for poll in polls %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <span class="mr-3 text-muted">{{ forloop.counter }}.</span>
                        <h5 class="card-title d-inline">
                            {% if request.user == poll.owner %}
                                <a href="{% url 'polls:poll_answer' poll.id %}" class="text">
                                    {{ poll.text|truncatewords:5 }}
                                </a>
                            {% else %}
                                <span class="text">{{ poll.text|truncatewords:5 }}</span>
                            {% endif %}
                            {% if not poll.active %}
                                <i class="fas fa-check-circle ml-2"></i>
                            {% endif %}
                        </h5>
                    </div>
                    {% if request.user == poll.owner %}
                    <div class="d-flex align-items-center">
                        <a href="{% url 'polls:generate_token' poll.id %}" 
                           class="btn btn-primary btn-sm ml-2" 
                           data-toggle="tooltip" 
                           data-placement="top" 
                           title="Generate Share Link">
                            <i class="fas fa-share"></i>
                        </a>
                        {% if poll.active %}
                        <a href="{% url 'polls:end_poll' poll.id %}" 
                        class="btn btn-primary btn-sm ml-2" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="End Poll"
                        onclick="return confirm('Are you sure ?')">
                            <i class="fas fa-stop-circle"></i>
                        </a>
                        {% endif %}
                        <a href="{% url 'polls:poll_tokens' poll.id %}"
                        class="btn btn-primary btn-sm ml-2" 
                        data-toggle="tooltip" 
                        data-placement="top"
                        title="See Tokens">
                            <i class="fas fa-coins"></i>
                        </a>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}